.meteor/local
/.idea/inspectionProfiles
/.idea/jsLinters
/.idea/libraries
node_modules/
/.idea/jsLibraryMappings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/SynergiaMeteorBase.iml
/.idea/vcs.xml
/.idea/watcherTasks.xml
/.idea/workspace.xml
/.idea/MeteorBase.iml
