<template name="default">
    <div id="wrapper">
        {{#if loggingIn}}
            {{> loading}}
        {{else}}
            {{#if authenticated}}
                {{>sidebar}}
                <div id="page-wrapper" class="gray-bg">
                    {{>header}}

                    {{#if authenticated}}

                        <div class="wrapper wrapper-content animated fadeIn">

                            {{#if authenticated}}
                                {{#unless redirectAuthenticated}}
                                    {{> Template.dynamic template=yield}}
                                {{/unless}}
                            {{else}}
                                {{#unless redirectPublic}}
                                    {{> Template.dynamic template=yield}}
                                {{/unless}}
                            {{/if}}
                        </div>
                    {{/if}}

                    {{>footer}}
                </div>
            {{else}}
                {{#unless redirectPublic}}
                    {{> Template.dynamic template=yield}}
                {{/unless}}
            {{/if}}
        {{/if}}
    </div>
</template>